.opciones
{
    height: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    h3{
        font-family: 'Bebas';
	font-size: 14px;
        margin-top: 10px;
        margin-bottom: 3px;
	text-align: center;    
    }
    
    detalle{
        margin-top: 10px;
        margin-bottom: 10px;
	padding: 4px;       
	font-size: 12px;
    }

    .boton{
        width: 100%;
	padding: 4px;
	margin-top: 5px;
	text-align: right;        
	font-size: 13px;
    	}

    .listado{
        width: 100%;
	margin-top: 2px;
        .dropdown-toggle{
            width: 100%;
            text-align: right;
            font-size: 13px;
	    padding: 4px;
            .caret{
		text-align: right;
            }
        }
    }

    .desde, .hasta{
        width: 47%!important;
    }

    .desde{
        margin-right:4%;
    }

    .destacado{
        background-color: #eee;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: -15px;
        margin-right: -15px;

        h2, h3, p{
            margin: 0;
        }
    }

    .filtros{
        
	
    }

    .dropdown-menu > li > a{
        padding: 0px 20px;
        font-size: 1.2 rem;
        cursor: pointer;
    }

    #loading{
        display: none;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.7);
        text-align: center;
        margin-left: -15px;
        h2{
            font-family: 'Bebas';
            color: #fff;
            margin-top: 150px;
        }
        img{
            width: 70px;
        }
    }
}
