@import "modals.less";
@import "bootstrap.less";
@import "fuentes.less";
@import "header.less";
@import "opciones.less";
@import "buscar.less";

html, body {
    height:100%;
width: 100%
}

h1{
	font-family: 'Bebas';
    font-size: 6rem;
}

.container{
	width: 100%;
}

p{
    text-align: justify;
}

.footer {
	    font-size: 12px;
	    width: 99%;
            position: absolute;
	    bottom: 5px;
            height: -25px; /* Altura del Footer en px*/
            ox-shadow: 0 0 20px #000;
            text-align: center;
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.3);
            padding-top: 5px;
	    padding-left: 5px;
	    padding-right: 5px;
	    padding-bottom: 5px;

}