.modal-dialog h1{font-size:4rem}
.modal-dialog h2{font-size:2rem;margin:0;font-family:'Bebas'}
.modal-header h1{font-size:14px;}
.modal-header h2{
    font-size:28px;
    margin:10px;
    font-family:'Bebas';
    text-align: center;
    }
.profile-img
    {
        width: 96px;
        height: 96px;
        margin: 0 auto;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
.modal-content{
    background: #D6D6D6;
    color: #000000;
    }