{% extends "listado.html" %}
        {% block titulo %}
        <div class="list-group2">
        <a href="#" class="list-group-item active"><b>Listado de Asociaciones</b>
        <h5 class="pull-right">( {{asociacion|default_if_none:"Administrador"}} )</h5>
        </a>
        </div>
        {% endblock %}
	
	{% block acciones %}
	    <div class="opciones">
             <h3>Filtrado de Datos</h3>
                <a type="button" class="btn btn-primary boton"
                            href="{% url "asociaciones_list" %}agregar/" >
                            Agregar Nueva
                    </a>
                <div class="btn-group listado">
                  <button id="filtro_asoc" type="button" class="btn btn-primary dropdown-toggle filtro" data-toggle="dropdown">
                    {% if not user.get_profile.asociacion_id %}Filtrar por Asociación{% else %}Filtrar por Asociación{% endif %}
                    <b class="caret"></b>
                  </button>
                    <ul class="dropdown-menu" role="menu">
                     {% for asoc in asociaciones %}
                     <li><a val="{{asoc}}" href="{% url "asociaciones_list" %}{{asoc.pk}}/">{{asoc}}</a></li>
                     {% endfor %}
                     {% if not user.get_profile.asociacion_id %}
                      <li><a href="{% url "asociaciones_list" %}" val="0">Todas </a></li>
                     {% endif %}
                    </ul>

                </div>
                <h3>Exportación de Datos</h3>
                 <a type="button" class="btn btn-primary boton"
                     {% if asociacion %}href="{% url "asociaciones_list" %}{{asociacion.pk}}/exportar/XLS/"{% endif %}>XLS</a>
            </div>
	
	{% endblock %}
	
	{% block table_heading %}
		<th>Id</th>
                  <th>Número</th>
                  <th>Nombre</th>
		<th>Regional</th>
		<th>Dirección</th>
		<th>Localidad</th>
		<th>Presidente</th>
		<th>Jefe</th>
		<th>Subjefe</th>
	{% endblock %}

	{% block item_iteration_row %}
		<td>{% if user.is_authenticated %}
		<a href="{{ item.get_absolute_url }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=450'); return false;"><span class="label label-primary">{{item.pk}}</span></a>
		{% endif %}
		</td>
		<td>{{ item.nro_asoc }}</td>
		<td>{{ item.nombre }}</td>
		<td>{{ item.nro_regional }}</td>
		<td>{{ item.direccion }}</td>
		<td>{{ item.localidad }} ({{ item.provincia }})</td>
		<td>{{ item.presidente}}</td>
		<td>{{ item.jefe }}</td>
		<td>{{ item.subjefe }}</td>
  	{% endblock %}
  	
        {% block botones_edicion_fila %}
		{% if user.is_authenticated %}
			<a class="glyphicon glyphicon-edit" href="/bomberos/asociaciones/{{item.pk}}/editar/"></a>
		{% endif %}
         {% endblock %}