<head>
{% load static from staticfiles %}
 <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
</head>
<body>
<div class="row">
    <h2>Detalles de la Asociación <span class="red">{{ asociaciones.pk }}</span></h2>
    <p><label class="control-label">Número: </label>{{asociaciones.nro_asoc}}</p>
    <p><label class="control-label">Nombre: </label>{{asociaciones.nombre}}</p>
    <p><label class="control-label">Regional: </label>{{asociaciones.nro_regional}}</p>
    <p><label class="control-label">Dirección: </label>{{asociaciones.direccion|title}} - {{asociaciones.localidad|title}}</p>
    <p><label class="control-label">Presidente: </label>{{asociaciones.presidente}}</p>
    <p><label class="control-label">Jefe: </label>{{asociaciones.jefe}}</p>
    <p><label class="control-label">Subjefe: </label>{{asociaciones.subjefe}}</p>
</div>

</body>

