<head>
{% load static from staticfiles %}
 <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
</head>
<body>

<div class="row">
    <h2>Detalles del Bombero <span class="red">{{ bomberos.pk }}</span></h2>
            <p><label class="control-label">Apellido y Nombre: </label> {{bomberos.apellido|title}} {{bomberos.nombre|title}}</p>
            <p><label class="control-label">Tipo y Nro. de Documento: </label>{{bomberos.get_tipodoc_display}} {{bomberos.nrodoc}}</p>
            <p><label class="control-label">Dirección: </label>{{bomberos.direccion|title}} - {{bomberos.localidad|title}} - {{bomberos.provincia|title}}</p>
            <p><label class="control-label">Fecha Nacimiento: </label>{{bomberos.fecha_nac}}</p>
            <img src="{% if bomberos.foto %}{{ bomberos.foto.url }} {% endif %}" />
</div>

</body>

