{% extends "listado.html" %}
{% load static from staticfiles %}
        {% block titulo %}
        <div class="list-group2">
        <a href="#" class="list-group-item active">
            <b>Listado Completo del Cuerpo de Bomberos</b>
            <h5 class="pull-right">( {{asociacion|default_if_none:"Administrador"}} )</h5>
        </a>
        </div>
        {% endblock %}
	
	{% block acciones %}
            <div class="opciones">
             <h3>Filtrado de Datos</h3>

                <a type="button" class="btn btn-primary boton"
                            href="{% url "bomberos_list" %}{% if not asociacion %}0/{% else %}{{asociacion.pk}}/{% endif %}agregar/" >
                            Agregar Nuevo
                    </a>
                <div class="btn-group listado">
                  <button id="filtro_asoc" value="Filtrar por Asociación" type="button" class="btn btn-primary dropdown-toggle filtro" data-toggle="dropdown">
                    Filtrar por Asociación
                    <b class="caret"></b>
                  </button>
                    <ul class="dropdown-menu" role="menu">
                     {% for asoc in asociaciones %}
                     <li><a val="{{asoc}}" href="{% url "bomberos_list" %}{{asoc.pk}}/">{{asoc}}</a></li>
                     {% endfor %}
                     {% if not user.get_profile.asociacion_id %}
                      <li><a href="{% url "bomberos_list" %}" val="0">Todas </a></li>
                     {% endif %}
                    </ul>
                </div>
                <h3>Exportación de Datos</h3>
                 <a type="button" class="btn btn-primary boton"
                     {% if asociacion %}href="{% url "bomberos_list" %}{{asociacion.pk}}/exportar/XLS/"{% endif %}>XLS</a>

            </div>
	{% endblock %}
	
	{% block idTabla %}tabla_bomberos{% endblock %}

	{% block table_heading %}
		<th>Id</th>
                  <th>Apellido</th>
		<th>Nombre</th>
		<th>Dirección</th>
		<th>Asociación</th>
		<th>Cadete</th>
		<th>Localidad</th>
		<th>Provincia</th>
		<th>Documento</th>
		<th>Fecha Nac.</th>
		<th>Estado Civil</th>

	{% endblock %}

	{% block item_iteration_row %}
		<td>{% if user.is_authenticated %}
		<a href="{{ item.get_absolute_url }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=450'); return false;"><span class="label label-primary">{{item.pk}}</span></a>
		{% endif %}
		</td>
		<td>{{ item.apellido }}</td>
		<td>{{ item.nombre }}</td>
		<td>{{ item.direccion }}</td>
		<td>{{ item.asociacion|default_if_none:"Sin Asignar" }}</td>
		<td>{{ item.es_cadete|yesno:"Si,No" }}</td>
		<td>{{ item.localidad }}</td>
		<td>{{ item.provincia }}</td>
		<td>{{ item.tipodoc }} {{ item.nrodoc }}</td>
		<td>{{ item.fecha_nac|date:"d/m/Y" }}</td>
		<td>{{ item.get_estado_civil_display }}</td>

  	{% endblock %}
  	
  	{% block botones_edicion_fila %}
		{% if user.is_authenticated %}
			<a class="glyphicon glyphicon-edit" href="/bomberos/bomberos/{% if not asociacion %}0/{% else %}{{asociacion.pk}}/{% endif %}editar/{{item.pk}}/"></a>
			<a class="glyphicon glyphicon-trash" href="{% url "bombero_baja" item.pk %}"></a>
		{% endif %}
         {% endblock %}
{% block extra_js %}
<script>	



    TableTools.DEFAULTS.aButtons = [ "copy", "csv", "xls", "pdf" ];
    TableTools.DEFAULTS.sSwfPath = "{% static 'datatables/media/swf/copy_csv_xls_pdf.swf' %}";

     $('#tabla_bomberos').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "sDom": 'T<"clear">lfrtip',
            "aaSorting":[],
            });
</script>	
{% endblock %}