{% extends "listado.html" %}
        {% block titulo %}
        <div class="list-group2">
        <a href="#" class="list-group-item active"><b>Padrón de Cadetes</b>
        <h5 class="pull-right">( {{asociacion|default_if_none:"Administrador"}} )</h5>
        </a>
        </div>
        {% endblock %}
	
	{% block acciones %}
	<div class="opciones">
             <h3>Filtrado de Datos</h3>

                <a type="button" class="btn btn-primary boton"
                            href="{% url "padron_cadetes_list" %}{% if not asociacion %}0/{% else %}{{asociacion.pk}}/{% endif %}agregar/" >
                            Agregar Nuevo
                    </a>
                <div class="btn-group listado">
                  <button id="filtro_asoc" type="button" class="btn btn-primary dropdown-toggle filtro" data-toggle="dropdown">
                    {% if not user.get_profile.asociacion_id %}Filtrar por Asociación{% else %}Filtrar por Asociación{% endif %}
                    <b class="caret"></b>
                  </button>
                    <ul class="dropdown-menu" role="menu">
                     {% for asoc in asociaciones %}
                     <li><a val="{{asoc}}" href="{% url "padron_cadetes_list" %}{{asoc.pk}}/">{{asoc}}</a></li>
                     {% endfor %}
                     {% if not user.get_profile.asociacion_id %}
                      <li><a href="{% url "padron_cadetes_list" %}" val="0">Todas </a></li>
                     {% endif %}
                    </ul>
                </div>
                 <h3>Exportación de Datos</h3>
                 <a type="button" class="btn btn-primary boton"
                     {% if asociacion %}href="{% url "padron_cadetes_list" %}{{asociacion.pk}}/exportar/XLS/"{% endif %}>XLS</a>
            </div>
            </div>
	{% endblock %}

	{% block table_heading %}
		<th>Id</th>
                  <th>Año</th>
		<th>Bombero</th>
		<th>Asociacion</th>
		<th>Nivel</th>
		<th>Cargo</th>
		<th>Último Ascenso</th>
		<th>Fecha Ingreso</th>	
	{% endblock %}

	{% block item_iteration_row %}
		<td>{% if user.is_authenticated %}
		<a href="{{ item.get_absolute_url }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=450'); return false;"><span class="label label-primary">{{item.pk}}<span/></a>
		{% endif %}
		</td>
		<td>{{ item.anio }}</td>
		<td>{{ item.bombero }}</td>
		<td>{{ item.asociacion }}</td>
		<td>{{ item.get_nivel_display }}</td>
		<td>{{ item.cargo }}</td>
		<td>{{ item.ultimo_ascenso|date:"d/m/Y" }}</td>
		<td>{{ item.fecha_ingreso|date:"d/m/Y" }}</td>
  	{% endblock %}
  	
  	{% block botones_edicion_fila %}
		{% if user.is_authenticated %}
			<a class="glyphicon glyphicon-edit" href="{% url "padron_cadetes_list"%}{% if asociacion %}{{asociacion.pk}}/{% else %}0/{% endif %}editar/{{item.pk}} "></a>
		    {% endif %}
         {% endblock %}
  	
