<head>
{% load static from staticfiles %}
 <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
</head>
<body>

<div class="row">
    <h2>Detalles del Bombero Voluntario<span class="red">{{ padron.pk }}</span></h2>
            <p><label class="control-label">Datos Bombero: </label> {{padron.bombero|title}}</p>
            <p><label class="control-label">Año: </label>{{padron.anio}}</p>
            <p><label class="control-label">Asociacion: </label>{{padron.asociacion}}</p>
            <p><label class="control-label">Credencial: </label>{{padron.credencial}}</p>
            <p><label class="control-label">Grado: </label>{{padron.grado}}</p>
            <p><label class="control-label">Cargo: </label>{{padron.cargo}}</p>
            <p><label class="control-label">Último Ascenso: </label>{{padron.ultimo_ascenso|date:"d/m/Y"}}</p>
            <p><label class="control-label">Fecha Ingreso: </label>{{padron.fecha_ingreso|date:"d/m/Y"}}</p>
            <p><label class="control-label">IAPOS: </label>{{padron.iapos|yesno:"Si,No"}}</p>
            <p><label class="control-label">Reincorporaciones: </label>{{padron.reincorporaciones|date:"d/m/Y"}}</p>
            <p><label class="control-label">Observaciones: </label>{{padron.observaciones}}</p>

</div>

</body>