<head>
{% load static from staticfiles %}
 <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
</head>
<body>

<div class="row">
    <h2>Detalles del Cadete <span class="red">{{ padron.pk }}</span></h2>
            <p><label class="control-label">Datos Cadete: </label> {{padron.bombero|title}}</p>
            <p><label class="control-label">Año: </label>{{padron.anio}}</p>
            <p><label class="control-label">Asociacion: </label>{{padron.asociacion}}</p>
            <p><label class="control-label">Nivel: </label>{{padron.get_nivel_display}}</p>
            <p><label class="control-label">Cargo: </label>{{padron.cargo}}</p>
            <p><label class="control-label">Último Ascenso: </label>{{padron.ultimo_ascenso|date:"d/m/Y"}}</p>
            <p><label class="control-label">Fecha Ingreso: </label>{{padron.fecha_ingreso|date:"d/m/Y"}}</p>

</div>

</body>

