{% extends "base.html" %}
{% block extra_js %}
<script>
    $(function() {
        $( ".datePicker" ).datepicker(
            {
                dateFormat: "dd/mm/yy",
                readonly: "true",
                firstDay: 1,
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                monthNames:
                    ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                    "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthNamesShort:
                    ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul",
                    "Ago", "Sep", "Oct", "Nov", "Dic"],
            });
    });

   function msj(msg)
   {alert(msg);};

</script>
{% endblock %}
{% block main %}

<div class="list-group2">
        <a href="#" class="list-group-item active"><b>Agregar/Modificar datos del Cadete</b></a>
        </div>
<div class="container">
<div class="row clearfix">
<form class="form-horizontal" action="" method="post" role="form" >
		<div class="col-md-6 ">
			{{ form.media }}
			{% for field in form %}{% csrf_token %}
			 <div class="form-group">
                              <div class="col-xs-4">
                                <label class="pull-right">{{field.label|title}}:</label>
                               </div>
                                <div class="col-xs-6">{{field}}
                                {% if field.field.required %}
                                    <em>*</em>
                                {% endif %}
                                {% if field.errors %}
                                 <div class="alert alert-danger">
                                 {{ field.errors }}
                                 </div>
                                {% endif %}
                                </div>
                             </div>
			{% endfor %}

				 <div class="form-group ">
				<input type="submit" class="btn btn-primary pull-right" value="{% if submit_text %} {{submit_text}} {%else%} Guardar {% endif %}"/>
				</div>
                    </div>
</form>
</div>
</div>
{% endblock%}


