{% extends "base.html" %}

{% block main %}

<div class="list-group2">
        <a href="#" class="list-group-item active"><b>Agregar/Modificar datos de Personas/Jefes</b></a>
        </div>

<div class="container">
<div class="row clearfix">
<form class="form-horizontal" action="" method="post" role="form" >
		<div class="col-md-6 ">
			{{ form.media }}
			{% for field in form %}{% csrf_token %}
			 <div class="form-group">
                              <div class="col-xs-4">
                                <label class="pull-right">{{field.label|title}}:</label>
                               </div>
                                <div class="col-xs-6">{{field}}
                                {% if field.field.required %}
                                    <em>*</em>
                                {% endif %}
                                {% if field.errors %}
                                 <div class="alert alert-danger">
                                 {{ field.errors }}
                                 </div>
                                {% endif %}
                                </div>
                             </div>
			{% endfor %}

				 <div class="form-group ">
				<input type="submit" class="btn btn-primary pull-right" value="Guardar"/>
				</div>
                    </div>
</form>
</div>
</div>
{% endblock%}



