<head>
{% load static from staticfiles %}
 <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
</head>
<body>
<div class="row">
    <h2>Datos Personales:</h2>
            <p><label class="control-label">Apellido y Nombre: </label> {{persona.apellido|title}} {{persona.nombre|title}}</p>
            <p><label class="control-label">Tipo y Nro. de Documento: </label>{{persona.get_tipodoc_display}} {{persona.nrodoc}}</p>
            <p><label class="control-label">Dirección: </label>{{persona.direccion|title}}</p>
            <p><label class="control-label">Teléfono: </label>{{persona.telefono}}</p>
            <p><label class="control-label">Celular: </label>{{persona.celular}}</p>
            <p><label class="control-label">E-Mail: </label>{{persona.email}}</p>
</div>

</body>

