{% extends "base.html" %}

{% block main %}
<div class="col-md-10">

    <div class="list-group2">
        <a href="#" class="list-group-item active">
            <b>Listado Completo de Personas/Jefes</b>
            <h5 class="pull-right">( {{asociacion|default_if_none:"Administrador"}} )</h5>
        </a>
        </div>
    <div class="datagrid">
    <table>
    <thead>
    	<tr class="info">
    		<th>Id</th>
                  <th>Apellido</th>
		<th>Nombre</th>
		<th>Dirección</th>
		<th>Documento</th>
		<th>Teléfono</th>
		<th>Celular</th>
		<th>E-Mail</th>
    		<th>
    		</th>
    	</tr>
    </thead>
    <tbody>
    	{% for item in personas %}
    	<tr>
    		<td>{% if user.is_authenticated %}
		<a href="{{ item.get_absolute_url }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=450'); return false;"><span class="label label-primary">{{item.pk}}</span></a>
		{% endif %}
		</td>
		<td>{{ item.apellido }}</td>
		<td>{{ item.nombre }}</td>
		<td>{{ item.direccion }}</td>
		<td>{{ item.tipodoc }} {{ item.nrodoc }}</td>
		<td>{{ item.telefono }}</td>
                  <td>{{ item.celular }}</td>
		<td>{{ item.email }}</td>
    		<td>
    		  {% if user.is_authenticated %}
			<a class="glyphicon glyphicon-edit" href="/bomberos/personas/{{item.pk}}/editar/"></a>
			<a class="glyphicon glyphicon-trash" href="/bomberos/personas/{{item.pk}}/baja/"></a>
		  {% endif %}
    		</td>  	
    	</tr>
      	{% endfor %}
      	
    </tbody>
    </table>
    </div>
                <div class="listado-pie">
                  <b>{{personas.count}}</b> resultados encontrados.
                </div>
</div>
 <div class="col-md-2 ">
    <div class="opciones">
             <h3>Filtrado de Datos</h3>

                <a type="button" class="btn btn-primary boton"
                            href="{% url "personas_list" %}agregar/" >
                            Agregar Nuevo
                    </a>
             <div class="btn-group listado">
                  <button id="filtro_asoc" value="Filtrar por Asociación" type="button" class="btn btn-primary dropdown-toggle filtro" data-toggle="dropdown">
                    Filtrar por Asociación
                    <b class="caret"></b>
                  </button>
                    <ul class="dropdown-menu" role="menu">
                     {% for asoc in asociaciones %}
                     <li><a val="{{asoc}}" href="{% url "personas_list" %}{{asoc.pk}}/">{{asoc}}</a></li>
                     {% endfor %}
                     {% if not user.get_profile.asociacion_id %}
                      <li><a href="{% url "personas_list" %}" val="0">Todas </a></li>
                     {% endif %}
                    </ul>
                </div>

    </div>
 </div>

function filter(type) {
$.getJSON("{% url "personas_list" %}", {filtro: type},
  function(data) {
  	$('#places').children().remove();
  	$(data).appendTo('#places');
  });
}

$("#most_recent").click(function () {
	filter("recent");
	$('#most_recent').attr('style', 'font-weight: bold').css('color', '#000');
});
{% endblock %}

