{% extends "listado.html" %}
        {% block titulo %}
        <div class="list-group2">
        <a href="#" class="list-group-item active">
            <b>Listado Completo de Personas/Jefes</b>
            <h5 class="pull-right">( {{asociacion|default_if_none:"Administrador"}} )</h5>
        </a>
        </div>
        {% endblock %}
	
	{% block acciones %}
            <div class="opciones">
             <h3>Filtrado de Datos</h3>

                <a type="button" class="btn btn-primary boton"
                            href="{% url "personas_list" %}agregar/" >
                            Agregar Nuevo
                    </a>
<!--
                <div class="btn-group listado">
                  <button id="filtro_asoc" value="Filtrar por Asociación" type="button" class="btn btn-primary dropdown-toggle filtro" data-toggle="dropdown">
                    Filtrar por Asociación
                    <b class="caret"></b>
                  </button>
                    <ul class="dropdown-menu" role="menu">
                     {% for asoc in asociaciones %}
                     <li><a val="{{asoc}}" href="{% url "personas_list" %}{{asoc.pk}}/">{{asoc}}</a></li>
                     {% endfor %}
                     {% if not user.get_profile.asociacion_id %}
                      <li><a href="{% url "personas_list" %}" val="0">Todas </a></li>
                     {% endif %}
                    </ul>
                </div>
-->
<!--
                <h3>Exportación de Datos</h3>
                 <a type="button" class="btn btn-primary boton"
                     {% if asociacion %}href="{% url "personas_list" %}{{asociacion.pk}}/exportar/XLS/"{% endif %}>XLS</a>

-->
            </div>
	{% endblock %}

	{% block table_heading %}
		<th>Id</th>
                  <th>Apellido</th>
		<th>Nombre</th>
		<th>Dirección</th>
		<th>Documento</th>
		<th>Teléfono</th>
		<th>Celular</th>
		<th>E-Mail</th>

	{% endblock %}

	{% block item_iteration_row %}
		<td>{% if user.is_authenticated %}
		<a href="{{ item.get_absolute_url }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=450'); return false;"><span class="label label-primary">{{item.pk}}</span></a>
		{% endif %}
		</td>
		<td>{{ item.apellido }}</td>
		<td>{{ item.nombre }}</td>
		<td>{{ item.direccion }}</td>
		<td>{{ item.tipodoc }} {{ item.nrodoc }}</td>
		<td>{{ item.telefono }}</td>
                  <td>{{ item.celular }}</td>
		<td>{{ item.email }}</td>

  	{% endblock %}
  	
  	{% block botones_edicion_fila %}
		{% if user.is_authenticated %}
			<a class="glyphicon glyphicon-edit" href="/bomberos/personas/{{item.pk}}/editar/"></a>
			<a class="glyphicon glyphicon-trash" href="/bomberos/personas/{{item.pk}}/baja/"></a>
		{% endif %}
         {% endblock %}
