{% extends "listado.html" %}
        {% block titulo %}
        <div class="list-group2">
        <a href="#" class="list-group-item active"><b>Listado de Unidades</b>
        <h5 class="pull-right">( {{asociacion|default_if_none:"Administrador"}} )</h5>
        </a>
        </div>
        {% endblock %}
	
	{% block acciones %}
            <div class="opciones">
             <h3>Filtrado de Datos</h3>

                <a type="button" class="btn btn-primary boton"
                            href="{% url "unidades_list" %}{% if not asociacion %}0/{% else %}{{asociacion.pk}}/{% endif %}agregar/" >
                            Agregar Nuevo
                    </a>
                <div class="btn-group listado">
                  <button id="filtro_asoc" type="button" class="btn btn-primary dropdown-toggle filtro" data-toggle="dropdown">
                    {% if not user.get_profile.asociacion_id %}Filtrar por Asociación{% else %}Filtrar por Asociación{% endif %}
                    <b class="caret"></b>
                  </button>
                    <ul class="dropdown-menu" role="menu">
                     {% for asoc in asociaciones %}
                     <li><a val="{{asoc}}" href="{% url "unidades_list" %}{{asoc.pk}}/">{{asoc}}</a></li>
                     {% endfor %}
                     {% if not user.get_profile.asociacion_id %}
                      <li><a href="{% url "unidades_list" %}" val="0">Todas </a></li>
                     {% endif %}
                    </ul>
                </div>
                <h3>Exportación de Datos</h3>
                 <a type="button" class="btn btn-primary boton"
                     {% if asociacion %}href="{% url "unidades_list" %}{{asociacion.pk}}/exportar/XLS/"{% endif %}>XLS</a>
            </div>
	{% endblock %}

	{% block table_heading %}
		<th>Id</th>
                  <th>Dominio</th>
                  <th>Asociación</th>
		<th>Tipo Vehículo</th>
		<th>Tipo Carrocería</th>
		<th>Año/Modelo</th>
		<th>Tipo Unidad</th>
		<th>Nro. Motor</th>
		<th>Nro. Chasis</th>
	{% endblock %}

	{% block item_iteration_row %}
		<td>{% if user.is_authenticated %}
		<a href="{{ item.get_absolute_url }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=450'); return false;"><span class="label label-primary">{{item.pk}}</span></a>
		{% endif %}
		</td>
		<td>{{ item.dominio }}</td>
		<td>{{ item.asociacion|default_if_none:"Sin Asignar" }}</td>
		<td>{{ item.tipo_vehiculo }}</td>
		<td>{{ item.tipo_carroceria }}</td>
		<td>{{ item.anio }}</td>
		<td>{{ item.tipo_unidad}}</td>
		<td>{{ item.numero_motor }}</td>
		<td>{{ item.numero_chasis }}</td>
  	{% endblock %}
	
        {% block botones_edicion_fila %}
		{% if user.is_authenticated %}
			<a class="glyphicon glyphicon-edit" href="/bomberos/unidades/{% if not asociacion %}0/{% else %}{{asociacion.pk}}/{% endif %}editar/{{item.pk}}/"></a>
		{% endif %}
         {% endblock %}