<head>
{% load static from staticfiles %}
 <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
</head>
<body>

<div class="row">
    <h2>Detalles de la Unidad <span class="red">{{ bomberos.pk }}</span></h2>

                <p><label class="control-label">Dominio: </label>{{unidades.dominio}}</p>
                <p><label class="control-label">Tipo Vehículo: </label>{{unidades.tipo_vehiculo}}</p>
                <p><label class="control-label">Tipo Carrocería: </label>{{unidades.tipo_carroceria}}</p>
                <p><label class="control-label">Año/Modelo: </label>{{unidades.anio}}</p>
                <p><label class="control-label">Tipo Unidad: </label>{{unidades.tipo_unidad}}</p>
                <p><label class="control-label">Nro. Motor: </label>{{unidades.numero_motor}}</p>
                <p><label class="control-label">Nro. Chasis: </label>{{unidades.numero_chasis}}</p>
            </div>

</body>


