body {
        color:#FFFFFF;
        //padding-top: 5%;
        //padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        //background: #7C7C7C;
        //font-size: 11px;
		background-image: url("../images/bgg1.jpg");
		background-repeat: repeat;
		background-attachment: fixed;
		background-position: left bottom;
		//
	}

.grande {
     font-family: 'bebas'!important;
     font-size: 52px;
     margin-top:2px;
     margin-bottom:2px;
        }

.navbar-btn {
    margin-top: 13px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.nav .caret {
    border-top-color: #ffffff;
    border-bottom-color: #428bca;
    color: #ffffff;
}


.list-group
{
    text-align:center;
    font-size: 12px;
    margin-top:5px;
    margin-bottom:5px;
}

.listado-pie
{
    text-align:right;
    padding: 3px;
    font-size: 11px;
    margin-top:5px;
    margin-bottom:5px;
    background-color: #2175BD;
    border-color: #2175BD;
    border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.list-group2
{
    font-size: 15px;
    margin-top:5px;
    margin-bottom:10px;
    //font-family: 'bebas'!important;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #2175BD;
  border-color: #2175BD;
}

.well {
  color:#999999;
  min-height: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top:5px;
  background-color: #222222;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well-lg {
  padding: 24px;
  border-radius: 6px;
}

.well-sm {
  padding: 9px;
  border-radius: 3px;
}

.tbody
{ color:white;
    }

.account-wall
{
    padding: 20px 0px 20px 0px;
    //background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

