{% extends "contacto.html" %}
{% load i18n %}

{% block form_content %}
<div class="container">
<div class="row clearfix">
<form class="form-horizontal" action="" method="post" role="form" >
		<div class="col-md-6 ">
			{{ form.media }}
			{% for field in form %}{% csrf_token %}
			 <div class="form-group">
                              <div class="col-xs-4">
                                <label class="pull-right">{{field.label|title}}:</label>
                               </div>
                                <div class="col-xs-6">{{field}}
                                {% if field.field.required %}
                                    <em>*</em>
                                {% endif %}
                                {% if field.errors %}
                                 <div class="alert alert-danger">
                                 {{ field.errors }}
                                 </div>
                                {% endif %}
                                </div>
                             </div>
			{% endfor %}

				 <div class="form-group ">
				<input type="submit" class="btn btn-primary pull-right" value="Contáctenos"/>
				</div>
                    </div>
</form>
</div>
</div>

{% endblock %}

