{% extends "contacto.html" %}
{% load i18n %}

{% block main %}
<div class="list-group2">
        <a href="#" class="list-group-item active"><b>{% trans "Muchas gracias! Su mensaje ha sido enviado con éxito." %}</b></a>
        </div>

{% endblock %}
