<!DOCTYPE HTML>
<html>
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
        {% load static from staticfiles %}
        <!--[if lt IE 9]>
	    <script src="{% static 'bootstrap/js/css3-mediaqueries.js' %}"></script>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <title>{% block title %}Sistema de Gestión de Bomberos de la Provincia de Santa Fe{% endblock %}</title>
        <META NAME="Description" CONTENT="{% block description %}Sistema de Gestión de Bomberos de la Provincia de Santa Fe{% endblock %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"  type="image/png">
        <link rel="stylesheet" href="{% static 'correpi/css/bootstrap.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'correpi/css/base.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/table.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'correpi/css/fuentes.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'correpi/css/modals.css' %}" type="text/css" />

        <link rel="stylesheet" href="{% static 'correpi/css/header.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'correpi/css/opciones.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'correpi/css/buscar.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'correpi/css/modals.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/jquery-ui.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'datatables/media/css/jquery.dataTables.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'datatables/media/css/TableTools.css' %}" type="text/css" />
	{% block extra_css %}
	{% endblock %}
        <script src="{% static 'bootstrap/js/html5shiv.js' %}" type="text/javascript"></script>
        <script src="{% static 'bootstrap/js/respond.min.js' %}" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="{% static 'correpi/js/libs/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.0/less.min.js" type="text/javascript"></script>
        <script src="{% static 'bootstrap/js/jquery-ui.js' %}" type="text/javascript" ></script>
        <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}" type="text/javascript" ></script>
        <script src="{% static 'datatables/media/js/TableTools.js' %}" type="text/javascript" ></script>


	{% block extra_js %}
	{% endblock %}
</head>

<body>
       {% include "header.html" %}
       {% if user.is_authenticated %}
        <div class="container">
         <div class="row">
          {% block main %}
          {% endblock %}
         </div>
        </div>
       {% else %}
         <div class="col-md-12">
          {% block main2 %}
          {% endblock %}
         </div>
       {% endif %}
       {% include "footer.html" %}
       {% include "modales.html" %}
</body>

</html>