<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema de Gestión de Bomberos de la Provincia de Santa Fe</title>
  </head>
<!--  Css-->
	{% load static from staticfiles %}

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"  type="image/png">
<!--
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/table.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/jquery-ui.css' %}" type="text/css" />

-->
        <link rel="stylesheet/less" href="{% static 'correpi/css/base.less' %}">


<!--     SCRIPTS  -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.0/less.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/respond.min.js' %}"></script>

{% block js_head %}

{% endblock %}

        <script>
                    $(function() {
                        $( ".datePicker" ).datepicker(
                            {
                                dateFormat: "dd/mm/yy",
                                readonly: "true",
                                firstDay: 1,
                                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                                dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                                monthNames:
                                    ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                                    "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                                monthNamesShort:
                                    ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul",
                                    "Ago", "Sep", "Oct", "Nov", "Dic"],
                            });
                    });

                   function msj(msg)
                   {alert(msg);};

         </script>
<body>


    <div class="row clearfix">
	<div class="col-md-12 column">
          <!-- Menu de la parte superior, visible en todo el sistema -->
          <nav role="navigation" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand">
                <span class="logo">SICB</span>
                <span class="logo">Sistema Integral de Cuarteles de Bomberos</span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li class="active"><a href="/"><i class="glyphicon glyphicon-home"> </i><span> Inicio</span></a></li>
            {% if user.is_staff %}
                <li class="divider-vertical"></li>
                <li><a href="/admin/"> Administrar</a></li>
            {% endif %}
            <li class="divider-vertical"></li>
            <li><a href="/contacto"><i class="glyphicon glyphicon-envelope"> </i> Contacto</a></li>
            <li class="divider-vertical"></li>

            {% block menues%}
            {% endblock %}

        {% endif %}
        {% if not user.is_authenticated %}
                <li class="divider-vertical"></li>
                <li>
                <a href="#myModal" role="button" data-toggle="modal"><span class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-log-in"> </i>  Ingresar</span></a></li>
            {% else %}
                <li class="divider-vertical"></li>
                <li>
                    <div class="btn-group navbar-btn">
                      <a href="/logout/" type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-user"></i>  Desconectar "{{ user.username|upper }}"</a>
                      <a href="#" type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Información sobre <b>{{ user.username|upper }}</b></a></li>
                        <li class="divider"></li>
                        {% for asoc in asociaciones %}
                            <li><a href="" >{{asoc}}</a></li>
                        {% endfor %}

                      </ul>
                    </div>
                </li>
            {% endif %}
            </ul>
          </nav>
          <!-- Fin de la barra de menues -->
        </div>
      </div>
      {% if user.is_authenticated %}
       <div class="container">
        <div class="row">
         <div class="col-md-10">
         {% block main %}
         {% endblock %}
         </div>
	<div class="col-md-2 ">
			{% block acciones %}
			{% endblock %}
         </div>
        </div>
       </div>
         	
        {% else %}

                <div class="col-md-12">
                 {% block main2 %}
                 {% endblock %}
                </div>

       {% endif %}
    </div>
    <div class="footer">
      Sistema Integral de Cuarteles de Bomberos SICB - © 2013 GG Sistemas - <b>www.grupoguadalupe.com.ar</b>
    </div>
    <!-- Modal -->
   <div id="myModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-body ">
       <div class="row">
        <div class="col-sm-12">
            <div class="account-wall">
             <h1 class="text-center login-title">Ingrese su usuario y contraseña</h1>
                <img class="profile-img" src="{% static 'images/logo_consejo.gif' %}"
                    alt="">
                <form class="form-signin" action="/login/" method="post">
                {% csrf_token %}
                <input type="text" name="username" class="form-control" placeholder="Usuario" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                <button class="btn btn-lg btn-primary btn-block" name="login" type="submit">
                    Ingresar</button>
                </form>
            </div>
        </div>
       </div>
      </div>
     </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
   </div><!-- /.modal -->


  </body>
</html>
