{% extends "base.html" %}

{% block main %}
<div class="col-sm-12">
<div class="list-group2">
        <a href="#" class="list-group-item active"><b>Envíenos su inquietud</b></a>
        </div>
	{% block form_content %}

	
	{% endblock %}
</div>

{% endblock%}