<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="robots" content="index,follow">
<title>CV Juan Manuel Jacquet</title>
{% load static from staticfiles %}
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"  type="image/png">
<link rel="stylesheet" type="text/css" href="{% static 'cv/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cv/styles.css' %}">
<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="{% static 'highcharts/js/highcharts.js' %}"></script>
<script src="{% static 'highcharts/js/pie.js' %}"></script>
<!--[if lt IE 9]>
	    <script src="{% static 'bootstrap/js/css3-mediaqueries.js' %}"></script>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body>
	<section id="statement">
		<p>Esta página ha sido optimizada para verse correctamente en dispositivos móviles (iPAD/Android).</p>
	</section>
	<section id="header">
		<header>
 			<h1><span>Juan Manuel Jacquet</span> <br>programador <br><span class="ampersand big">&amp;</span> desarrollador WEB</h1>
 		</header>
	</section>
	<div id="wrapper">
		<section id="content_left">
			<article>
				<header>
					<h2>Perfil</h2>
				</header>
				<p>Soy un desarrollador web/desktop creativo e inquieto, con la experiencia de trabajar en distintos tipos/tamaños de proyectos, desde pequeñas empresas a sitios/sistemas de gran escala.
				Actualmente estoy orientándome más al desarrollo Web (Python/Django), aprendiendo constantemente nuevas técnicas y tecnologías, las cuales son puestas en práctica en mis proyectos.
				Soy capaz de reunirme con clientes, definir requerimientos, crear conceptos y modelar desde la estructura hasta el front-end, pasando por el diseño de la base de datos, logrando un control completo del ciclo de desarrollo.
				</p>
			</article>
			<article>
				<header>
					<h2>Educación</h2>
				</header>
				<h3>Actualidad - Universidad Tecnológica Nacional (FRSF)</h3>
				<p class="sub_title">Ingeniería en Sistemas de Información (5 materias restantes)</p>
				<h3>1994- 2001 - Escuela Industrial Superior</h3>
				<p class="sub_title">Técnico Electro-Mecánico</p>
				
			</article>
			<article><header>
					<h2>Trabajos / Proyectos</h2>
				</header>
				<h3>En proceso...</h3>
				<p class="sub_title">Desarrollo Web (Grupo Guadalupe SRL)</p>
				<p> Sistema online de Consulta e Impresión del Padrón de Bomberos Voluntarios de la Provincia de Santa Fe.
                                    <p><a class="email" href="http://www.gestionbomberos.com.ar" target="_blank">Gestión Bomberos Voluntarios</a>
			        <hr>
				<h3>2009 - Presente</h3>
				<p class="sub_title">Jefe de Desarrollo - Desarrollador Web (Grupo Guadalupe SRL)</p>
				<p> Sistema online de Consulta y Reimpresión de Boletas / Liquidación de boletas DReI.
				<p>El “Sistema de Gestión para Municipios y Comunas” es un sistema de gestión integrado, multiusuario, con módulos para Internet y con una importante variedad de prestaciones de servicios tanto para el municipio como para el contribuyente, transformándose en una herramienta poderosa e indispensable para la gestión moderna de los Municipios y Comunas.
                                    Partiendo de una estructura o sistema de base y dada la flexibilidad que el sistema posee, éste es adaptable a las características y necesidades propias de cada Cliente.
                                    El sistema se encuentra homologado por el Banco de Santa Fe S.A., Nación y CrediCoop, Red Link, Banelco y otras entidades bancarias para el cobro a través del código de barras utilizado en las boletas de Tasas, Derechos y Servicios.</p>
                                    <a class="email" href="http://www.grupoguadalupe.com.ar" target="_blank">Grupo Guadalupe SRL</a>
			        <hr>
				<h3>2008</h3>
				<p class="sub_title">Proyecto Municipio Digital - Desarrollador Web (Municipalidad de Santa Fe)</p>
				<p>Proyecto "Municipio Digital" – Se crearon sistemas de consulta OnLine para los contribuyentes y de uso interno en el Municipio. Se trabajó con PHP, AJAX, FIREBIRD (Motor DB), JavaScript, ADODB.</p>
			        <hr>
				<h3>2005 - 2008</h3>
				<p class="sub_title">Grupo de Desarrollo de Sistemas para la Municipalidad de Santa Fé</p>
				<p>Utilizando herramientas de programación Delphi, FireBird, MySQL, Informix, IBExpert.(Sistemas Distribuidos).
				<p>A cargo de los sistemas de: Catastro Municipal, Fiscalía y Apremios Fiscales.</p>
                                   <hr>
				<h3>2003 - 2005</h3>
				<p class="sub_title">Desarrollos a Terceros - Proyectos diversos</p>
				<p>Proyecto de Digitalización de Actas de Nacimiento de la Provincia – UTN.
				<p>Diseño y Carga de Base de Datos para la “Dirección de Carga y Transportes de la Provincia” (CENT – GETRANS – UTN).
                                    <p>Sistemas a  Medida y Diseño de Páginas Web a terceros (Sistemas de Control de Stock / Cliente-Servidor).</p>
                           </article>
                           <article>
				<header>
					<h2>Cursos / Seminarios</h2>
				</header>
				 <p class="sub_title"><h3>2009</h3> “PyCON 2009” Ciclo de conferencias con expositores Internacionales sobre Python.</p>
                                    <p class="sub_title"><h3>2008</h3> Curso “ORACLE 10g JAVA PROGRAMMING” dictado en Academia Local Cisco.</p>
                                    <p class="sub_title"><h3>2007</h3> Curso de “Desarrollo de Aplicaciones Web Dinámicas con PHP” (Certificado UTN).</p>
                                    <p class="sub_title"><h3>2006</h3> “Jornadas Python” en la UTN-FRSF.</p>
                                    <p class="sub_title"><h3>2005</h3> “Jornadas Linux” (Redes – Seguridad – Servidores X) Oro Verde - Universidad de Entre Ríos.</p>
                                    <p class="sub_title"><h3>2004</h3> Cursos de Instalación y mantenimiento de Sistemas Linux.</p>
                                    <p class="sub_title"><h3>2003</h3> “Congreso de LINUX (Programación en Linux – Instalación de Redes – Internet – Configuración de Servidor)” en el auditorio de la UNL como asistente y oyente.</p>
			</article>
		</section>
		<section id="content_right">
			<article>
				<header>
					<h2>Desktop Development </h2>
					<p>El siguiente gráfico refleja el nivel de conocimientos adquiridos hasta la fecha.</p>

					<ul id="graph">
						<li class="100%" style="width: 0%; display: list-item;"><span style="display: inline;">Delphi</span></li>
						<li class="75%" style="width: 0%; display: list-item;"><span style="display: inline;">Python/PyQt/WxWindows</span></li>
						<li class="100%" style="width: 0%; display: list-item;"><span style="display: inline;">Firebird</span></li>
						<li class="85%" style="width: 0%; display: list-item;"><span style="display: inline;">PostgreSQL/MsSQL</span></li>
						<li class="95%" style="width: 0%; display: list-item;"><span style="display: inline;">MySQL</span></li>
						<li class="75%" style="width: 0%; display: list-item;"><span style="display: inline;">C++/Java</span></li>
					</ul>
					
					<ul id="skills">
						<li><span>Desarrollo de Aplicaciones de Gestión, Facturación, Contables y Control de Stock.</span></li>
						<li><span>Interacción con diferentes motores de Bases de Datos.</span></li>
						<li><span>Interacción con Web Services y sincronización en la nube.</span></li>
						<li><span>Manejo de Herramientas de Control de Versiones (SVN,Git,Mercurial).</span></li>
						<li><span>Instalación y mantenimiento de Servidores Linux DBs.</span></li>
						<li><span>Instalación y mantenimiento de Servidores LAMP.</span></li>
					</ul>
				</header>
			</article>
                           <article>
				<header>
					<h2>Web Development</h2>
					<p>El siguiente gráfico refleja el nivel de conocimientos adquiridos hasta la fecha.</p>
					<ul id="graph">
						<li class="90%" style="width: 0%; display: list-item;"><span style="display: inline;">PHP</span></li>
						<li class="85%" style="width: 0%; display: list-item;"><span style="display: inline;">Django/Python</span></li>
						<li class="80%" style="width: 0%; display: list-item;"><span style="display: inline;">jQuery</span></li>
						<li class="80%" style="width: 0%; display: list-item;"><span style="display: inline;">XML/JSON</span></li>
						<li class="80%" style="width: 0%; display: list-item;"><span style="display: inline;">HTML5</span></li>
						<li class="90%" style="width: 0%; display: list-item;"><span style="display: inline;">CSS3 / Bootstrap</span></li>
					</ul>
					
					<ul id="skills">
						<li><span>Capacidad para realizar sitios utilizando layouts adaptables (Responsive Design).</span></li>
						<li><span>Desarrollo del Backend (Django/Python) y Frontend (jQuery/Ajax/Css).</span></li>
					</ul>
				</header>
			</article>
			<article>
				<div id="work_pointer">
					<p>Desea contactarme ?</p>
				</div>
				<div id="work_link">
					<p>Envíeme un correo</p>
					<a class="email" href="mailto:jmjacquet@gmail.com" target="_blank">jmjacquet@gmail.com</a>
				</div>
			</article>
			<article>
				<h2>Sobre mi...</h2>
				<div id="me">
					<img src="{% static 'cv/images/jm.jpg' %}" width="135" height="150" alt="me">
				</div>
				<hr>
				<ul id="stats">
					<li>Nacimiento: 15 de Mayo de 1982</li>
					<li>Santa Fe Capital - Santa Fe - Argentina</li>
					<li>Celular: (0342) 156117751</li>
				</ul>
				<hr>
				<p>Me considero un entusiasta de las nuevas tecnologías, buscando siempre innovar y seguir aprendiendo.</p>
				<p>Fuera del mundo de la tecnología me gusta jugar al fútbol, tocar la guitarra y practicar actividades tales como boxeo, ciclismo y senderismo, entre otras tantas.</p>
			</article>
			 <article>
				<header>
					<h2>Idiomas</h2>
					<div id="idiomas">
					</div>
<!--
					<ul id="graph">
						<li class="100%" style="width: 0%; display: list-item;"><span style="display: inline;">Español</span></li>
						<li class="90%" style="width: 0%; display: list-item;"><span style="display: inline;">Inglés</span></li>
						<li class="60%" style="width: 0%; display: list-item;"><span style="display: inline;">Alemán</span></li>
						<li class="50%" style="width: 0%; display: list-item;"><span style="display: inline;">Portugués</span></li>
					</ul>
-->
				</header>
			</article>
		</section>
	</div>


<footer>
	<section id="footer_inner">
	    <p id="copyright">© Copyleft - Todos los errores reservados - 2014 </p>
	    <p id="company"><a href="http://www.grupoguadalupe.com.ar/" target="_blank">www.grupoguadalupe.com.ar</a></p>
    </section>
</footer>

<script type="text/javascript" src="{% static 'cv/kcm2etq.js' %}"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="{% static 'cv/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'cv/custom.js' %}"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3472473-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body></html>