{% load static from staticfiles %}
<header>
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img alt="40x40" src="{% static 'images/logo.png' %}" style="height:40px;text-align: center;margin: 2 auto;" />
				<span class="logo">SICBSF</span>
				<span class="logo2">Sistema Integral de Cuarteles de Bomberos<br>de la Provincia de Santa Fe</span>
				
			</a>
                 </div>
			<ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                    <li class="active"><a href="/"><i class="glyphicon glyphicon-home"> </i><span> Inicio</span></a></li>
                                    {% if user.is_staff %}
                                        <li class="divider-vertical"></li>
                                        <li><a href="/admin/"> Administrar</a></li>
                                    {% endif %}
<!--
                                    <li class="divider-vertical "></li>
                                    <li><a href="/contacto"><i class="glyphicon glyphicon-envelope"> </i> Contacto</a></li>
-->
                                    <li class="divider-vertical"></li>
                                {% endif %}
                                {% include "menues.html" %}
			</ul>
		
	</nav>
</header>