{% extends "base.html" %}
{% load static from staticfiles %}

{% block main %}

<div class="row clearfix">
<div class="col-md-12 column">
 <div id="carousel" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#carousel" data-slide-to="0">
              </li>
              <li data-target="#carousel" data-slide-to="1">
              </li>
              <li data-target="#carousel" data-slide-to="2">
              </li>
              <li data-target="#carousel" data-slide-to="3">
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="item active"> <img src="{% static 'images/banner1.jpg' %}" style="width:700px; height:300px;text-align: center;margin: 0 auto;" alt=""  />

              </div>
              <div class="item"> <img src="{% static 'images/banner2.jpg' %}" style="width:700px; height:300px;text-align: center;margin: 0 auto;" alt="" />

              </div>
              <div class="item"> <img src="{% static 'images/bomb3.jpg' %}" style="width:700px; height:300px;text-align: center;margin: 0 auto;" alt="" />
              </div>
              <div class="item"> <img src="{% static 'images/bomb4.jpg' %}" style="width:500px; height:300px;text-align: center;margin: 0 auto;" alt="" />

              </div>
            </div>
            <a data-slide="prev" href="#carousel" class="left carousel-control"><span
                class="glyphicon glyphicon-chevron-left"></span></a> <a data-slide="next"
              href="#carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>

</div>
</div>

<div class="row clearfix">
	
<div class="col-md-12 column">
          <h1 class="grande">Bienvenido <b>{{user.username}}</b>!! </h1>
          <p>Esta es la página de gestión de Cuarteles de Bomberos!!.</p>

            {% if user.get_profile.asociacion == None %}
               <h3> Perteneciente a la Asociación: (Puede ver Todas) </h3>
            {% else %}
               <h3> Perteneciente a la Asociación: {{user.get_profile.asociacion}}  !! </h3>
               (id={{ user.get_profile.asociacion_id}})
            {% endif %}
</div>
</div>


{% endblock %}
{% block main2 %}

<div id="carousel" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#carousel" data-slide-to="0">
              </li>
              <li data-target="#carousel" data-slide-to="1">
              </li>
              <li data-target="#carousel" data-slide-to="2">
              </li>
              <li data-target="#carousel" data-slide-to="3">
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="item active"> <img src="{% static 'images/bomb1.jpg' %}" style="width:700px; height:300px;text-align: center;margin: 0 auto;" alt=""  />

              </div>
              <div class="item"> <img src="{% static 'images/bomb2.jpg' %}" style="width:700px; height:300px;text-align: center;margin: 0 auto;" alt="" />

              </div>
              <div class="item"> <img src="{% static 'images/bomb3.jpg' %}" style="width:700px; height:300px;text-align: center;margin: 0 auto;" alt="" />

              </div>
              <div class="item"> <img src="{% static 'images/bomb4.jpg' %}" style="width:700px; height:300px;text-align: center;margin: 0 auto;" alt="" />

              </div>
            </div>
            <a data-slide="prev" href="#carousel" class="left carousel-control"><span
                class="glyphicon glyphicon-chevron-left"></span></a> <a data-slide="next"
              href="#carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>

{% endblock %}

