{% extends "base.html" %}

{% block main %}
<div class="col-md-10">

    {% block titulo %}
    {% endblock %}
    <div class="datagrid">
    <table id="{% block idTabla %}{% endblock %}">
    <thead>
    	<tr class="info">
    		{% block table_heading %}
    		{% endblock %}
    		<th>
    		</th>
    	</tr>
    </thead>
    <tbody>
    	{% for item in object_list %}
    	<tr>
    		{% block item_iteration_row %}
    	  	{% endblock %}
    		<td>
    		  {% block botones_edicion_fila %}
                        {% endblock %}
    		</td>  	
    	</tr>
      	{% endfor %}
      	
    </tbody>
    </table>
    </div>
                <div class="listado-pie">
                  <b>{{object_list.count}}</b> resultados encontrados.
                </div>
</div>
 <div class="col-md-2 ">
    {% block acciones %}
    {% endblock %}
 </div>
{% endblock %}
