{% extends "menues.html" %}

{% block main %}
<div class="list-group2">
<a href="#" class="list-group-item active"><b>Formulario de Contacto</b>
<a href="#" class="list-group-item">
 Mail enviado con éxito!!
</a>
{% endblock %}