{% if user.is_authenticated %}
<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-th-list icon-white"> </i> Planillas
                  <b class="caret"></b>
                </a>

             <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu">

                  <li>
		      <a href="/bomberos/bomberos/{% if user.get_profile.asociacion_id %}{{ user.get_profile.asociacion_id }}/{% endif %}" >Bomberos</a>
		</li>
		<li class="divider"></li>
		<li>
    			<a href="/bomberos/asociaciones/{% if user.get_profile.asociacion_id %}{{ user.get_profile.asociacion_id }}/{% endif %}">Asociaciones</a>

		</li>
		<li class="divider"></li>
		
		<li>
    			<a href="/bomberos/personas/{% if user.get_profile.asociacion_id %}{{ user.get_profile.asociacion_id }}/{% endif %}">Personas/Jefes</a>

		</li>
		<li class="divider"></li>
		
		<li>
			<a href="/bomberos/pb/{% if user.get_profile.asociacion_id %}{{ user.get_profile.asociacion_id }}/{% endif %}">Padrón Bomberos</a>

		</li>
		<li class="divider"></li>
		<li>
			<a href="/bomberos/padron_cadetes/{% if user.get_profile.asociacion_id %}{{ user.get_profile.asociacion_id }}/{% endif %}">Padrón Cadetes</a>

		</li>
		<li class="divider"></li>
		<li>
		         <a href="/bomberos/unidades/{% if user.get_profile.asociacion_id %}{{ user.get_profile.asociacion_id }}/{% endif %}">Unidades</a>

		</li>
            </ul>
</li>
{% endif %}
            {% if not user.is_authenticated %}
                <li class="divider-vertical"></li>
                <li>
                <a href="#myModal" role="button" data-toggle="modal"><span class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-log-in"> </i>  Ingresar</span></a></li>
            {% else %}
                <li class="divider-vertical"></li>
                <li>
                    <div class="btn-group navbar-btn">
                      <a href="/logout/" type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-user"></i>  Desconectar "{{ user.username|upper }}"</a>
                      <a href="#" type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#modal_usuario" role="button" data-toggle="modal">Información sobre <b>{{ user.username|upper }}</b></a></li>

                      </ul>
                    </div>
                </li>
            {% endif %}


