{% load static from staticfiles %}
<!-- Modal Login-->
<div id="myModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
 <div class="modal-content">
        <div class="modal-header">
         <h2>Ingrese su usuario y contraseña</h2>
            <img class="profile-img" src="{% static 'images/logo_consejo.gif' %}"
                alt="">
        </div>
        <div class="modal-body">
            <form class="form-signin" action="/login/" method="post">
            {% csrf_token %}
            <input type="text" name="username" class="form-control" placeholder="Usuario" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-primary btn-block" name="login" type="submit">
                Ingresar</button>
            </form>
        <div>
  </div>
 </div>
</div>
</div>
</div>

<!-- Modal -->
<div id="modal_usuario" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="lblmodal_usuario" aria-hidden="true">
<div class="modal-dialog">
 <div class="modal-content">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h1>Información sobre el usuario: <b>{{ user.username|upper }}</b></h1>
    </div>

    <div class="modal-body">
    	<p>Nombre: <b>{{ user.get_full_name }}</b></p>
    	<p>Usuario: <b>{{ user.username }}</b></p>
    	<p>Puede ver la Asociación:  <b>{{user.get_profile.asociacion|default_if_none:"Todas"}}</b></p>
    	<p>Último Acceso: <b>{{ user.last_login }}</b></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary " data-dismiss="modal">Cerrar</button>
    </div>
 </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div><!-- /.modal -->

