@import "reset.css";
		
body {
	font-size: 13px;
	color: #212121;
 	font-family: "proxima-nova-1","proxima-nova-2", Arial;
 	line-height: 22px;
 	letter-spacing: 1px;
 	background: #ffffff;
	}

p {
	margin: 10px 0 0;
	}
	
p.sub_title {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin: -5px 0 0;
	color: #b9b9b9;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: linear;	
	-moz-transition-property: color;
	-moz-transition-duration: 0.25s;
	-moz-transition-timing-function: linear;	
	transition-property: color;
	transition-duration: 0.25s;
	transition-timing-function: linear;	
	}

h1 {
	font-size: 30px;
	margin: 0;
	padding: 0 10px 0 0;
	color: #d2d2d2;
  	font-family: "p22-underground-1","p22-underground-2", Arial;
 	width:65%;
  	float: left;
  	border-right: 1px solid #c1c1c1;
  	text-transform: uppercase;
  	line-height: 55px;
	}
	
h1 span{
	color: #4b4b4b;
	font-size: 35px;
	}

h2 {
	color: #212121;
	margin: 0 0 15px 0;
	font-size: 22px;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, "Times New Roman", Times, serif;
	}
	
h3 {
	color: #39637e;
	font-size: 14px;
	}
	
a {
	text-decoration: none;
	color: #39637e;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: linear;	
	-moz-transition-property: color;
	-moz-transition-duration: 0.25s;
	-moz-transition-timing-function: linear;	
	transition-property: color;
	transition-duration: 0.25s;
	transition-timing-function: linear;	
	}

a:hover, a.more:hover, #work_link a:hover {
	color: #fc4948;
	}

ul#skills li, ul#about li {
	margin: 0 0 10px 0;
	padding: 0 0 0 22px;
	position: relative;
	}

ul#about li:last-child {
	margin:0;
	}
	
ul#about {
	margin: 10px 0 0;
	}
	
ul#skills li span:before, ul#about li span:before {
	width: 16px;
	height: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	}

ul#skills li span, ul#about li span {
	display: block;
	}

ul#skills li span:before, ul#about li span:before, ul#skills li span:after, ul#about li span:after {
	margin: -8px 0 0;
	background: #c1c1c1;
	}
	
ul#skills li span:after, ul#about li span:after {
	left: 7px!important;
	border-width: 5px 0 5px 6px;
	border-style: solid;
	border-color: transparent white;
	margin-top: -5px;
	background: transparent;
	}
	
ul#skills li:before, ul#about li:before {
	z-index: 10;
	left: 4px!important;
	width: 5px;
	height: 4px;
	margin-top: -2px;
	background: #ffffff;
	}

ul#skills li:before, ul#skills li:after, ul#about li:before, ul#about li:after, ul#skills li span:before, ul#about li span:before, ul#skills li span:after, ul#about li span:after {
	content: "";
	position: absolute;
	top: 11px;
	left: 0;
	}

ul#graph {
	background: url(images/graph.png) 0 0 no-repeat;
	height:240px;
	padding: 0 0 0 25px;
	margin: 15px 0 20px;
	}
	
ul#graph li{
	background: url(images/blue_bg.png) 0 0 repeat;
	color: #ffffff;
	margin: 0 0 9px 0;
	padding: 6px 0 0 0;
	text-align: right;
	width:0;
	height:26px;
	}	
	
ul#graph li span{
	display: block;
	padding: 0 20px 0 0;
	display: none;
	}
	
span.ampersand {
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;	
	font-size: 24px;
	font-style: italic;
	line-height:13px;
	}
			
span.ampersand.big {
	font-size: 50px;
	}	
	
h1 span.ampersand {
	color: #d2d2d2;
	}
	
p#copyright, p#company {
	width:50%;
	margin: 10px 0 0 0;
	}

p#copyright {
	float:left;
	}

p#company {
	float:right;
	text-align: right;
	}
	
section, article {
	overflow: hidden;
	}
		
section, section#statement p, #wrapper {
	width: 1000px;
	margin: 0 auto;
	}
	
section#statement {
	width: 100%;
	background: url(images/blue_bg.png) 0 0 repeat;
	}
	
section#statement p{
	padding: 10px 0;
	color:#ffffff;
	text-transform: uppercase;
	font-size:12px;
	}

section#header, article{
	margin: 30px auto;
	padding: 0 0 30px 0;
  	border-bottom: 1px solid #c1c1c1;
	}	
			
section#header{
	margin: 30px auto 0;
	}
		
section#content_left{
	width:480px;
	float: left;
	}		
			
section#content_left article:hover p.sub_title, section#content_right article:hover a{
	color: #fc4948;
	}		
	
section#content_right{
	width:480px;
	float: right;
	}
			
section#content_left article:last-child, section#content_right article:last-child{
	border:none;
	}		
		
ul#social_media {
	float: right;
	width:30%;
	}
	
ul#social_media li a{
	height: 30px;
    background: url(images/social_media.png) no-repeat;
	padding: 12px 0 0 60px;
	margin: 0 0 15px 0;
	display: block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;	
	transition: all 0.2s ease;	
	}	
	
ul#social_media li a span{
	color:#212121;
	}
		
ul#social_media li a.twitter{
	background-position: 0 5px;
	}
		
ul#social_media li a.twitter:hover{
	background-position: 7px 5px;
	}
		
ul#social_media li a.linkedin{
	background-position: 0 -98px;
	}
				
ul#social_media li a.linkedin:hover{
	background-position: 7px -98px;
	}
						
ul#social_media li a.email{
	background-position: 0 -198px;
	}	
						
ul#social_media li a.email:hover{
	background-position: 7px -198px;
	}	
			
ul#social_media li a.twitter:hover, ul#social_media li a.email:hover, ul#social_media li a.linkedin:hover {
	opacity: 0.7;
	}
	
#work_pointer {
	background: #d3d3d3;
	padding: 10px;
	float: left;
	width:180px;
	height: 45px;
	position: relative;
	}	
	
#work_pointer:after {
	width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-bottom: 32px solid transparent;
	border-left: 32px solid #d3d3d3;
	position: absolute;
	right:-32px;
	top:0;
	content:"";
	}
		
#work_pointer p{
	color:#ffffff;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0;
	}
	
#work_link {
	float: right;
	width:220px;
	padding: 7px 0 0;
	}
	
#work_link p{
	color:#39637e;
	text-transform: uppercase;
	font-size: 14px;
	margin: 0;
	}
		
#work_link a{
	color:#212121;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 20px;
	}

#me {
	width:190px;
	height:149px;
	float: left;
	
	}

ul#stats {
	width:280px;
	float: right;
	padding: 10px 0 0 10px;
	}
	
ul#stats li{
	margin:0 0 12px 0;
	}

/* Footer */

footer {
	background: url(images/blue_bg.png) 0 0 repeat;
    clear: both;
    padding: 20px 0;
	}

#footer_inner {
	margin: 0 auto;
	width:1000px;
	}
	
#footer_inner p, #footer_inner a:hover{
	color:#ffffff;
	}	




/* Getting responsive */


/* iPad & smaller screens*/

@media only screen and (max-width: 900px) {

html {
	-webkit-text-size-adjust: 100%;
	}

#wrapper, section, section#statement p, #footer_inner {
	width:96%!important;
	padding: 0 2%;
	}
	
section#header {
	padding: 0;
	}
	
h1 {
	font-size: 300%;
	width:100%;
	float:none;
	line-height:normal;
	border: none;
	text-align: center;
	}
	
section#statement p {
	text-align: center;
	}
				
span.ampersand.big {
	font-size: 120%;
	}	
	
section#content_left, section#content_right {
	float: none;	
	width:100%;
	}

ul#social_media {
	float:none;
	width:100%;	
	border-top: 1px solid #c1c1c1;
	margin: 10px 0 0;
	padding: 10px 0 0;
	}	
	
ul#social_media li {
	width:30%;
	float: left;	
	}		
		
ul#social_media li:first-child {
	padding: 0 0 0 6%;	
	}		
	
ul#social_media li a{
	padding: 12px 0 0 40px;	
	}	
		
ul#social_media li a span{
	display:none;	
	}	
	
section#content_left article:last-child	{
	border-bottom: 1px solid #c1c1c1;
	}
		
section#content_right article:first-child	{
	margin:0;
	}

#work_pointer {
	display: none;
	}
	
#work_link {
	float: none;
	margin: 0 auto;
	text-align: center;
	width:90%;
	line-height: normal;
	}
			
#work_link a, #work_link p{
	font-size: 300%;
	}
				
ul#social_media li a.twitter:hover{
	background-position: 2px 5px;
	}
						
ul#social_media li a.linkedin:hover{
	background-position: 2px -98px;
	}
												
ul#social_media li a.email:hover{
	background-position: 2px -198px;
	}	

ul#stats {
	width:50%;
	padding: 20px 0 0;
	margin: 0 0 0 10px;
	}
}

/* iphone landscape */

@media only screen and (max-width: 480px) {

ul#social_media {
 	padding: 20px 0 0;
	}
			
ul#social_media li a {
	padding: 50px 0 0 0;
	}
				
ul#social_media li a.twitter {
	background-position: 30% top!important;	
	}	
					
ul#social_media li a.linkedin {
	background-position: 35% -100px!important;	
	}	
					
ul#social_media li a.email {
	background-position: 55% -200px!important;	
	}		
		
ul#social_media li:first-child {
	padding: 0;	
	}
			
#work_link a, #work_link p{
	font-size: 200%;
	}	

#me {

	}
	
#me img {
	
	height:95%;
	}

ul#stats {
	width:55%;
	padding:19px 0 0;
	}
	
ul#stats li{
	margin: 0 0 20px;
	}
	
#footer_inner {
	display: none;
	}

}
/* iphone portrait */

@media only screen and (max-width: 320px) {
					
ul#social_media li a {
	font-size: 80%;
	}

#me {
	width:30%;
	}
	
#me img {
	width:100%;
	height:100%;
	}
	
ul#stats {
	padding: 10px 0 0;
	}
	
ul#stats li{
	margin: 0 0 10px;
	font-size: 80%;
	}
}